.linkMenuDiv a:hover {
    background-color: black !important;
    color: white !important;
    text-shadow: black 1px 0 10px;
    transform: scale(1.1);
}
.linkMenuDiv a {
    transition: transform .2s;
}
.commemorativeImage {
    height: 7rem;
    background-image: url('../assets/coins/france_2022.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left 120px center;
}

.circulationBg {
    height: 7rem;
    background-image: url('../assets/coins/france2.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left 120px center;
}

.swapBg {
    height: 7rem;
    background-image: url('../assets/icons/placeIcon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

.usersBg {
    height: 7rem;
    background-image: url('../assets/icons/usersIcon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
}

.statisticsIcon {
    height: 7rem;
    background-image: url('../assets/icons/statisticsIcon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left 100px center;
}

.shopBg {
    height: 7rem;
    background-image: url('../assets/icons/shopIcon.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-icons a:hover {
    background-color: black !important;
}

.social-icons a:hover i, path {
    color: white !important;
}

